images
playground
models
res
data/*
!data/.keep
client/webcat_ui/node_modules
**/__pycache__
logs/*
venv
db/*
.pytest_cache
model_repository/*
!model_repository/download.py
webcat/.env
webcat/model_repository/*
!webcat/model_repository/download.py
.env
webcat_old
.old