data/*
client/webcat_ui/node_modules
scripts/models/*
**/__pycache__
models/checkpoints/*
models/logs/*
**/models/tmp/*
logs/*
venv
db/*
.pytest_cache
model_repository/*
!model_repository/download.py
playground/ChatGLM-6B
playground/openai-quickstart-python
webcat/.env
webcat/model_repository/*
!webcat/model_repository/download.py
.env
models/newsgroup_dataset